@using Tour0Suisse.Web.Models
@model Tour0Suisse.Model.Tournoi

@{
    TexteFr TB = TexteFr.Instance;
}

<h2>@ViewData["Title"]</h2>

<h3>@TB.Tournoi_Delete_Warrning</h3>
<div>
    <h4>@TB.Tournoi_Delete_Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxNumberPlayer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxNumberPlayer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeckListNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeckListNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ppwin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ppwin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ppdraw)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ppdraw)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pplose)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pplose)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Over)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Over)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jeu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jeu.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTournament" />
        <input type="submit" value="@TB.Tournoi_Delete_SubmitDelete" class="btn btn-default" />
    </form>
    <br/>
    <a asp-action="Details" asp-route-id="@(Model.IdTournament)">@TB.Tournoi_Delete_Retour</a> |
    <a asp-action="Index">@TB.Tournoi_Delete_Index</a>
</div>
