@using Microsoft.AspNetCore.Http
@model Tour0Suisse.Model.Tournoi

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tournoi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxNumberPlayer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxNumberPlayer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeckListNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeckListNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ppwin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ppwin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ppdraw)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ppdraw)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pplose)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pplose)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Over)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Over)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jeu.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jeu.Name)
        </dd>
    </dl>
</div>
<div class="row col-lg-12">
    <h2>Rondes</h2>
    <ul class="nav nav-tabs">
        <li><a class="navbar-link" data-toggle="tab" href="#Participant">Participant</a></li>
        <li><a class="navbar-link @((Model.Classement.Any())? "":"disable")" data-toggle="tab" href="#Classement">Classement</a></li>
        <li><a class="navbar-link @((Model.Rounds.Any())? "":"disable")" data-toggle="tab" href="#Ronde">Ronde</a></li>
        <li><a class="navbar-link @((Model.Resultas.Any())? "":"disable")" data-toggle="tab" href="#Resultat">Resultat</a></li>
        <li><a class="navbar-link" data-toggle="tab" href="#Admin">Admin</a></li>
    </ul>
    <div class="tab-content">
        <div id="Participant" class="tab-pane fade">
            --Participant--
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Joueur")
                            </th>
                            <th>
                                @Html.DisplayName("Pseudo")
                            </th>
                            <th>
                                @Html.DisplayName("Date d'inscription")
                            </th>
                            <th>
                                @Html.DisplayName("CheckIn")
                            </th>
                            <th>
                                @Html.DisplayName("Drop")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var particpant in Model.Participants)
                        {
                            <tr>
                                <td>@Html.DisplayFor(p=>particpant.Pseudo)</td>
                                <td>@Html.DisplayFor(p=>particpant.IGPseudo)</td>
                                <td>@Html.DisplayFor(p => particpant.RegisterDate)</td>
                                <td>@Html.DisplayFor(p => particpant.CheckIn)</td>
                                <td>@Html.DisplayFor(p => particpant.Drop)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="Classement" class="tab-pane fade">
            --Classement--
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Joueur")
                            </th>
                            <th>
                                @Html.DisplayName("Pseudo")
                            </th>
                            <th>
                                @Html.DisplayName("Score")
                            </th>
                            <th>
                                @Html.DisplayName("Victoire")
                            </th>
                            <th>
                                @Html.DisplayName("Egaliter")
                            </th>
                            <th>
                                @Html.DisplayName("Defaite")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var classement in Model.Classement.OrderByDescending(c=>c.Score))
                        {
                            <tr>
                                <td>@Html.DisplayFor(c=>classement.Pseudo)</td>
                                <td>@Html.DisplayFor(c => classement.IGPseudo)</td>
                                <td>@Html.DisplayFor(c => classement.Score)</td>
                                <td>@Html.DisplayFor(c => classement.Victoire)</td>
                                <td>@Html.DisplayFor(c => classement.Egaliter)</td>
                                <td>@Html.DisplayFor(c => classement.Defaite)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="Ronde" class="tab-pane fade">
            --Ronde--
                        
            @if (Model.Rounds.Any())
            {
                <div class="container">
                    <ul class="nav nav-tabs">
                        @foreach (var round in Model.Rounds)
                        {
                            <li><a data-toggle="tab" href="@("#Ronde"+round.RoundNumber)">@("Ronde n°"+round.RoundNumber)</a></li>
                        }
                    </ul>
                </div>
                <div class="tab-content">
                    @foreach (var round in Model.Rounds)
                    {
                        <div id="@("Ronde" + round.RoundNumber)" class="tab-pane fade">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Début de round")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Fin de round")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @{ string Start = (round.StartRound == null) ? "" : ((DateTime)round.StartRound).ToLocalTime().ToString();} @(Start)
                                        </td>
                                        <td>
                                            @{ string End = (round.EndRound == null) ? "" : ((DateTime)round.EndRound).ToLocalTime().ToString();} @(End)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            @if (Model.Matchs.Any(m => m.RoundNumber == round.RoundNumber))
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="text-align:left">
                                                @Html.DisplayName("Joueur 1")
                                            </th>
                                            <th style="text-align:left">
                                                @Html.DisplayName("Pseudo Joueur 1")
                                            </th>
                                            <th style="text-align:center">
                                                ???
                                            </th>
                                            <th style="text-align:right">
                                                @Html.DisplayName("Pseudo Joueur 2")
                                            </th>
                                            <th style="text-align:right">
                                                @Html.DisplayName("Joueur 2")
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Matchs.Where(m => m.RoundNumber == round.RoundNumber))
                                        {
                                            <tr>
                                                <td style="text-align:left">
                                                    @Html.DisplayFor(modelItem => item.Player1)
                                                </td>
                                                <td style="text-align:left">
                                                    @Html.DisplayFor(modelItem => item.Pseudo1)
                                                </td>
                                                <td style="text-align:center">
                                                    ???
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(modelItem => item.Pseudo2)
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(modelItem => item.Player2)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    }
                    </div>
                    
            }

        </div>
        <div id="Resultat" class="tab-pane fade">
            --Resultat--
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Rank")
                            </th>
                            <th>
                                @Html.DisplayName("Joueur")
                            </th>
                            <th>
                                @Html.DisplayName("Pseudo")
                            </th>
                            <th>
                                @Html.DisplayName("Gain")
                            </th>
                            <th>
                                @Html.DisplayName("Score")
                            </th>
                            <th>
                                @Html.DisplayName("TieBreaker")
                            </th>
                            @*<th>
                                @Html.DisplayName("Victoire")
                            </th>
                            <th>
                                @Html.DisplayName("Egaliter")
                            </th>
                            <th>
                                @Html.DisplayName("Defaite")
                            </th>*@
                            <th>
                                @Html.DisplayName("TieBreaker additionnel")
                            </th>
                            <th>
                                @Html.DisplayName(" regle du TieBreaker additionelle")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var resulta in Model.Resultas.OrderBy(r=>r.Rank))
                        {
                            <tr>
                                <td>@Html.DisplayFor(r => resulta.Rank)</td>
                                <td>@Html.DisplayFor(r => resulta.Pseudo)</td>
                                <td>@Html.DisplayFor(r => resulta.IGPseudo)</td>
                                <td>@Html.DisplayFor(r => resulta.Gain)</td>
                                <td>@Html.DisplayFor(r => resulta.Score)</td>
                                <td>@Html.DisplayFor(r => resulta.TieBreaker)</td>
                                @*<td>@Html.DisplayFor(r => resulta.Victoire)</td>
                                <td>@Html.DisplayFor(r => resulta.Egaliter)</td>
                                <td>@Html.DisplayFor(r => resulta.Defaite)</td>*@
                                <td>@Html.DisplayFor(r => resulta.AdditionalTieBreaker)</td>
                                <td>@Html.DisplayFor(r => resulta.AdditionalTieBreakerRules)</td>
                            </tr>
                        }
                    </tbody>
                    </table>
            </div>
        </div>
        <div id="Admin" class="tab-pane fade">
            --Admin--
            <div class="container">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Admin")
                        </th>
                        <th>
                            @Html.DisplayName("Level")
                        </th>
                        <th>
                            Contacter
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var orga in Model.Organisateurs)
                        {
                            <tr>
                                <td>@Html.DisplayFor(o=>orga.Pseudo)</td>
                                <td>@Html.DisplayFor(o=>orga.Level)</td>
                                <td>???</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    @{
        if (int.TryParse(Context.Session.GetString("UserId"), out int Uid))
        {
            if (Model.Organisateurs.Any(o => o.IdUser == Uid))
            {
                <a asp-action="Edit" asp-route-id="@Model.IdTournament">Edit</a> 
                <a asp-controller="Admin" asp-action="Tournoi" asp-route-id="@Model.IdTournament">Admin</a>
            }
            else if (Model.Participants.Any(p => p.IdUser == Uid))
            {
                <a asp-action="DeckList" asp-route-id="@Model.IdTournament">Edit</a>
            }
            else
            {
                <a asp-action="Register" asp-route-id="@Model.IdTournament">S'inscire</a>
            }

        }
    }
    | <a asp-action="Index">Back to List</a>
</div>
