@model Tour0Suisse.Model.Tournoi

@{
    ViewData["Title"] = "Unregister";
}

<h2>Unregister</h2>

<h3>Voulez vous vraiment vous déinscrire</h3>

@if (ViewBag.error != null)
{
    <div class="warning">
        <span class="text-danger">@( (string)@ViewBag.error )</span>
    </div>
}
<div>
    <h4>Tournoi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxNumberPlayer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxNumberPlayer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeckListNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeckListNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jeu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jeu.Name)
        </dd>
    </dl>

    <form asp-action="Unregister">
        <input type="hidden" asp-for="IdTournament" />
        <input type="submit" value="Se déinscrire" class="btn btn-default" />
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>