@model Tour0Suisse.Model.Tournoi

@{
    ViewData["Title"] = "EndTournoi";
}

<h2>EndTournoi</h2>

<div>
    <h4>Tournoi</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model=> model.Resultas)
        </dt>
        <dd>
            <table>
                <thead>
                <tr>
                    <th>@Html.DisplayNameFor(Model => Model.Resultas.FirstOrDefault().Pseudo)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Resultas.FirstOrDefault().IGPseudo)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Resultas.FirstOrDefault().Score)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Resultas.FirstOrDefault().Victoire)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Resultas.FirstOrDefault().Egaliter)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Resultas.FirstOrDefault().Defaite)</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var r in Model.Classement)
                {
                    <tr>
                        <td>@Html.DisplayFor(Model=>r.Pseudo)</td>
                        <td>@Html.DisplayFor(Model => r.IGPseudo)</td>
                        <td>@Html.DisplayFor(Model => r.Score)</td>
                        <td>@Html.DisplayFor(Model => r.Victoire)</td>
                        <td>@Html.DisplayFor(Model => r.Egaliter)</td>
                        <td>@Html.DisplayFor(Model => r.Defaite)</td>
                    </tr>
                }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<form asp-action="EndTournoi" method="post">
    <input asp-for="IdTournament" hidden readonly/>
    <input type="submit" value="Terminer le tournoi" class="btn btn-default"/>
</form>
<div>
    <a asp-action="Tournoi" asp-route-id="@Model.IdTournament">Back to AdminPage</a>
</div>
