@using Tour0Suisse.Model
@model Tour0Suisse.Model.Match

@{
    ViewData["Title"] = "Edit";
}


<script>
    function ShowDeck(selectObject) {

        var BaseId = "#" + selectObject.id;
        var value = selectObject.value;

        var i;
        for (i = 0; i < selectObject.length; i++) {
            $(BaseId + "_" + $(BaseId)[0].options[i].value).collapse("hide");
        }
        $(BaseId + "_" + value).collapse("show");

    }</script>

<h2>Edit</h2>

<h4>Match</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateMatch">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTournament" />
            <input type="hidden" asp-for="RoundNumber" />
            <input type="hidden" asp-for="IdPlayer1" />

            @if (Model.Parties.Any())
            {
                <div class="container border">
                    @foreach (var partie in Model.Parties)
                    {
                        <div class="form-group row" id="@("Div_partie"+partie.PartNumber)">
                            <div class="col-sm">
                                <label asp-for="@partie.Deck1" class="control-label"></label>
                                <select asp-for="@partie.Deck1" asp-items="@(new SelectList((IEnumerable<ViewDeck>)ViewData["DecksP1"], "IdDeck", "IdDeck"))" id="@("SelectP1_partie"+partie.PartNumber)" onchange="ShowDeck(this)"></select>
                                @foreach (var deck in (IEnumerable<ViewDeck>)ViewData["DecksP1"])
                                {
                                    <textarea readonly class="collapse" id="@("SelectP1_partie"+partie.PartNumber+"_"+deck.IdDeck)">@(deck.DeckList)</textarea>
                                }
                                <span asp-validation-for="@partie.Deck1" class="text-danger"></span>
                            </div>
                            <div class="col-sm">
                                <label asp-for="@partie.ResultPart"></label>
                                <select asp-for="@partie.ResultPart">
                                    <option value="">qui est le gagnant</option>
                                    <option value="0">draw</option>
                                    <option value="1">Joueur 1</option>
                                    <option value="2">Joueur 2</option>
                                </select>
                            </div>
                            <div class="col-sm">
                                <label asp-for="@partie.Deck2" class="control-label"></label>
                                <select id="@("SelectP2_partie"+partie.PartNumber)" asp-for="@partie.Deck1" asp-items="@(new SelectList((IEnumerable<ViewDeck>)ViewData["DecksP2"], "IdDeck", "IdDeck"))" onchange="ShowDeck(this)"></select>
                                @foreach (var deck in (IEnumerable<ViewDeck>)ViewData["DecksP2"])
                                {
                                    <textarea readonly class="collapse" id="@("SelectP2_partie"+partie.PartNumber+"_"+deck.IdDeck)">@(deck.DeckList)</textarea>
                                }
                                <span asp-validation-for="@partie.Deck2" class="text-danger"></span>
                            </div>
                        </div>
                    }
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Tournoi" asp-route-id="@Model.IdTournament">Back to Tournoi</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}