@using Microsoft.AspNetCore.Http
@using Tour0Suisse.Model
@using Tour0Suisse.Web.Models
@model Tournoi

@{
    TexteFr TB = TexteFr.Instance;
    int MinNbRequR = (int)Math.Floor(1 + Math.Log(Model.Participants.Count(), 2));
    int MaxNbRequR = MinNbRequR + (int)Math.Floor(Math.Sqrt(MinNbRequR));
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Tournoi</h4>
    <hr />


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayName(TB.Admin_Tournoi_NbJoueur)<br/>
                    @Html.DisplayName(TB.Admin_Tournoi_NbRondeReq)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeckListNumber)
                <th>
                    @Html.DisplayNameFor(model => model.Over)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Game)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(m => m.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Date)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Description)
                </td>
                <td>
                    @( (Model.Participants.Count().ToString() + ((Model.MaxNumberPlayer== null)? "":" / " +Model.MaxNumberPlayer))+ "") <br/>
                    @("(" + @MinNbRequR.ToString()+" - "+@MaxNbRequR+")")
                </td>
                <td>
                    @Html.DisplayFor(m => m.DeckListNumber)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Over)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Game)
                </td>
            </tr>
        </tbody>
    </table>
</div>
@{
    if (!Model.Rounds.Any())
    {
        <div class="form-group">
            <form asp-action="Start" asp-route-id="@Model.IdTournament">
                <input type="submit" value="@TB.Admin_Tournoi_SubmitStart" class="btn btn-default" />
            </form>
        </div>
    }
    else
    {
        <div class="form-group">

            <div class="container">
                <ul class="nav nav-tabs">
                    <li><a class="navbar-link disabled" data-toggle="tab" href="#Participant">@TB.Tournoi_Details_ListingToggleJoueur</a></li>
                    @foreach (var round in Model.Rounds)
                    {
                        <li><a data-toggle="tab" href="@("#Ronde" + round.RoundNumber)">@("Ronde n°" + round.RoundNumber)</a></li>
                    }
                </ul>
            </div>
            <div class="tab-content">
                <div id="Participant" class="tab-pane fade">
                    --@TB.Tournoi_Details_ListingToggleJoueur--
                    <table class="table List Search table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName(@TB.Tournoi_Details_ListingJoueurDisplayNom)
                                    </th>
                                    <th>
                                        @Html.DisplayName(@TB.Tournoi_Details_ListingJoueurDisplayPseudo)
                                    </th>
                                    <th>
                                        @Html.DisplayName(@TB.Tournoi_Details_ListingJoueurDisplayDate)
                                    </th>
                                    <th>
                                        @Html.DisplayName(@TB.Tournoi_Details_ListingJoueurDisplayCheckin)
                                    </th>
                                    <th>
                                        @Html.DisplayName(@TB.Tournoi_Details_ListingJoueurDisplayDrop)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Participants != null)
                                {
                                    @foreach (var particpant in Model.Participants)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(p => particpant.Pseudo)</td>
                                            <td>@Html.DisplayFor(p => particpant.IGPseudo)</td>
                                            <td>@Html.DisplayFor(p => particpant.RegisterDate)</td>
                                            <td>@Html.DisplayFor(p => particpant.CheckIn)</td>
                                            <td>  @Html.DisplayFor(p => particpant.Drop) <a asp-controller="Admin" asp-action="Drop" asp-route-IdTournoi="@Model.IdTournament" asp-route-IdUser="@particpant.IdUser"> Drop </a> </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                </div>
                @foreach (var round in Model.Rounds)
                {
                    <div id="@("Ronde" + round.RoundNumber)" class="tab-pane fade">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName(TB.Admin_Tournoi_DisplayDebut)
                                    </th>
                                    <th>
                                        @Html.DisplayName(TB.Admin_Tournoi_DisplayFin)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @{ string Start = (round.StartRound == null) ? "" : ((DateTime)round.StartRound).ToLocalTime().ToString();}
                                        @(Start)
                                    </td>
                                    <td>
                                        @{ string End = (round.EndRound == null) ? "" : ((DateTime)round.EndRound).ToLocalTime().ToString();}
                                        @(End)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        @if (Model.Matchs.Any(m => m.RoundNumber == round.RoundNumber))
                        {
                            <table class="table List Search table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: left">
                                            @Html.DisplayName(TB.Admin_Tournoi_DisplayJ1)
                                        </th>
                                        <th style="text-align: left">
                                            @Html.DisplayName(TB.Admin_Tournoi_DisplayJ1Pseudo)
                                        </th>
                                        <th style="text-align: center">
                                            @Html.DisplayName(TB.Admin_Tournoi_DisplayScore)
                                        </th>
                                        <th style="text-align: right">
                                            @Html.DisplayName(TB.Admin_Tournoi_DisplayJ2Pseudo)
                                        </th>
                                        <th style="text-align: right">
                                            @Html.DisplayName(TB.Admin_Tournoi_DisplayJ2)
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Matchs.Where(m => m.RoundNumber == round.RoundNumber))
                                    {
                                        <tr>
                                            <td style="text-align: left">
                                                @Html.DisplayFor(modelItem => item.Player1)
                                            </td>
                                            <td style="text-align: left">
                                                @Html.DisplayFor(modelItem => item.Pseudo1)
                                            </td>
                                            <td style="text-align: center">
                                                <a asp-action="UpdateMatch" asp-route-IdT="@item.IdTournament" asp-route-rn="@item.RoundNumber" asp-route-idP1="@item.IdPlayer1">
                                                    @Html.DisplayFor(modelItem => item.Resultat)
                                                </a>
                                            </td>
                                            <td style="text-align: right">
                                                @Html.DisplayFor(modelItem => item.Pseudo2)
                                            </td>
                                            <td style="text-align: right">
                                                @Html.DisplayFor(modelItem => item.Player2)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        }
                        @if (round.RoundNumber == Model.Rounds.Max(m => m.RoundNumber))
                        {
                            if (Model.Matchs.All(m => m.RoundNumber != round.RoundNumber))
                            {
                                <form asp-action="Pairing" asp-route-id="@Model.IdTournament" asp-route-round="@(round.RoundNumber)">
                                    <input type="submit" value="@TB.Admin_Tournoi_SubmitPairing" class="btn btn-default" />
                                </form>
                            }
                            else if (round.EndRound == null)
                            {
                                <form asp-action="EndRound" asp-route-id="@Model.IdTournament" asp-route-round="@(round.RoundNumber)">
                                    <input type="submit" value="@TB.Admin_Tournoi_SubmitEndRound" class="btn btn-default" />
                                </form>
                            }
                            else
                            {
                                <form asp-action="CreateNextRound" asp-route-id="@Model.IdTournament" asp-route-round="@(round.RoundNumber)">
                                    <input type="submit" value="@TB.Admin_Tournoi_SubmitNextRound" class="btn btn-default" />
                                </form>
                            }

                        }
                    </div>
                }
            </div>


            @*@foreach (var round in Model)
                {
                    <div id="@("Round"+round.RoundNumber)">
                        <button id="@("ButtonRound"+round.RoundNumber)" class="btn btn" data-toggle="collapse" data-target="@("#collapseRound"+round.RoundNumber)" aria-expanded="true" aria-controls="@("collapseRound"+round.RoundNumber)">
                            <label class="control-label">@("Round "+round.RoundNumber)</label>
                        </button>

                        <div id="@("collapseRound" + round.RoundNumber)" class="@((round.RoundNumber == Model.Last().RoundNumber)? "collapse in":"collapse")">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Début de round")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Fin de round")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @{ string Start = (round.StartRound == null) ? "" : ((DateTime)round.StartRound).ToLocalTime().ToString();} @(Start)
                                        </td>
                                        <td>
                                            @{ string End = (round.EndRound == null) ? "" : ((DateTime)round.EndRound).ToLocalTime().ToString();} @(End)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            @if (round.Matches.Any())
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayName("Joueur 1")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Joueur 2")
                                            </th>
                                            <th>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in round.Matches)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Player1)<br />
                                                    Pseudo en jeu : @Html.DisplayFor(modelItem => item.Pseudo1)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Player2)<br />
                                                    Pseudo en jeu : @Html.DisplayFor(modelItem => item.Pseudo2)
                                                </td>
                                                <td>
                                                    <a asp-action="UpdateMatch" asp-route-IdT="@item.IdTournament" asp-route-rn="@item.RoundNumber" asp-route-idP1="@item.IdPlayer1">modifier resulta</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                if (round.EndRound == null)
                                {
                                    <form asp-action="EndRound" asp-route-id="@(((Tournoi)ViewData["Tournoi"]).IdTournament)" asp-route-round="@(round.RoundNumber)">
                                        <input type="submit" value="Terminé la Round" class="btn btn-default" />
                                    </form>
                                }
                                else
                                {
                                    <form asp-action="CreateNextRound" asp-route-id="@(((Tournoi)ViewData["Tournoi"]).IdTournament)" asp-route-round="@(round.RoundNumber)">
                                        <input type="submit" value="Crée la prochaine round" class="btn btn-default" />
                                    </form>
                                }

                            }
                            else
                            {
                                <form asp-action="Pairing" asp-route-id="@(((Tournoi)ViewData["Tournoi"]).IdTournament)" asp-route-round="@(round.RoundNumber)">
                                    <input type="submit" value="crée tout les matchs" class="btn btn-default" />
                                </form>
                            }

                        </div>
                    </div>
                }*@
            @if (!Model.Over) { 
                
                <form asp-action="EndTournoiR" asp-route-id="@Model.IdTournament">
                    <input type="submit" value="@TB.Admin_Tournoi_SubmitEndTournoi" class="btn btn-default" />
                </form>

            }

        </div>
    }
}
<div>
    <a asp-controller="Tournois" asp-action="Details" asp-route-id="@Model.IdTournament">@TB.Admin_Tournoi_Details</a>
    | <a asp-action="Index">@TB.Admin_Tournoi_Index</a>
</div>
